<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>x</key>
            <integer>334</integer>
        <key>y</key>
            <integer>261</integer>
    </dict>
    <dict>
        <key>x</key>
            <integer>469</integer>
        <key>y</key>
            <integer>256</integer>
    </dict>
    <dict>
        <key>x</key>
            <integer>456</integer>
        <key>y</key>
            <integer>141</integer>
    </dict>
    <dict>
        <key>x</key>
            <integer>116</integer>
        <key>y</key>
            <integer>253</integer>
    </dict>
    <dict>
        <key>x</key>
            <integer>209</integer>
        <key>y</key>
            <integer>167</integer>
    </dict>
</array>
</plist>
